
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background: linear-gradient(90deg, rgb(224, 224, 224) 0%, rgba(210,210,210,1) 100%);
}
h1 {
    font-size: 50px;
    border-bottom: 3px solid black;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 3px solid black;
}

p{
    font-size: 25px;
    margin: 20px 0px 10px;
}

button {
    margin: 30px 20px 20px 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 30px;
    background-color: rgb(206, 206, 206);
}

button:hover {
    background-color: rgb(194, 194, 194);
}

button:active {
    background-color: rgb(182, 182, 182);
}


input[type="text"]{
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
    width: 300px;
    height: 25px;
    margin-top: 10px;
}

input[type="radio"] + label {
    font-size:23px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px -15px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}

input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}

input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}

form, div {
    border: 2px solid black;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.49);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0px 20px 20px 0px;
}

#outputDiv {
    height: 150px;
    width: 1625px;
}

h2 {
    margin-top: 10px;
}